body,html{
	margin:0;
	height: 100%;
	width: 100%;
  background-size: cover;
	position: absolute;
}

.detailBox{
	position: absolute;
	padding: 1vh;
	font-family: 'Mukta', sans-serif;
	font-size: 1.5em;
	position: absolute;
	border-radius: 5px;
	background-color: white;
	opacity: .4;
}

.box{
  margin-bottom: 5vh;
	margin-top: 10vh;
  padding:30px;
	position: relative;
}

#btn{
  width: 5vh;
  left: 85%;
  top: 98%;
  position: absolute;
}

#textboxes {
  width: 100vw;
  margin-left: 25vh;
  margin-top: 2.5vh;
  height: 100vh;
  overflow: scroll;
}

#graphtitle1,#graphtitle2,#graphtitle3{
	font-size: 2.5em;
	font-family: 'Mukta', sans-serif;
	position: relative;
}
#graphtitle1{
  left: 13%;
  top: 20%;
}
#graphtitle2{
  left: 25%;
  top: 20%;
}
#graphtitle3{
  left: 25%;
  top: 20%;
}

.cls-1 {
			 fill: #100e0c;
		 }

.cls-2 {
 fill: #fcc013;
}

.cls-3 {
 fill: #e6e6e5;
}

.cls-4 {
 fill: #255228;
}

.cls-5 {
 fill: #f8c017;
}

.cls-6 {
 fill: #c2bb80;
}

.cls-7 {
 fill: #d2b27d;
}

.cls-8 {
 fill: #295428;
}

.cls-9 {
 fill: #de2826;
}

.cls-10 {
 fill: #295328;
}

.cls-11 {
 fill: #dc2c26;
}

.cls-12 {
 fill: #2e5428;
}

.cls-13 {
 fill: #e0c426;
}

.cls-14 {
 fill: #335628;
}

.cls-15 {
 fill: #3a5f2c;
}

.cls-16 {
 fill: #2f5327;
}

.cls-17 {
 fill: #dcc128;
}

.cls-18 {
 fill: #324f24;
}

.cls-19 {
 fill: #b7bb33;
}

.cls-20 {
 fill: #cb5426;
}

.cls-21 {
 fill: #c9c12f;
}

.cls-22 {
 fill: #afb93e;
}

.cls-23 {
 fill: #c45227;
}

.cls-24 {
 fill: #bb5b27;
}

.cls-25 {
 fill: #98bb54;
}

.cls-26 {
 fill: #bf4427;
}

.cls-27 {
 fill: #4e6d2f;
}

.cls-28 {
 fill: #9ebc4c;
}

.cls-29 {
 fill: #eb8e2e;
}

.cls-30 {
 fill: #161616;
}

.cls-31 {
 fill: #c7c133;
}

.cls-32 {
 fill: #bbc036;
}

.cls-33 {
 fill: #b5b636;
}

.cls-34 {
 fill: #f8ba1b;
}

.cls-35 {
 fill: #c6c440;
}

.cls-36 {
 fill: #9bc058;
}

.cls-37 {
 fill: #f58349;
}

.cls-38 {
 fill: #d6d6d6;
}

.cls-39 {
 fill: #36582a;
}

.cls-40 {
 fill: #305327;
}

.cls-41 {
 fill: #355528;
}
