body,html{
	margin:0;
	height: 100%;
	width: 100%;
  background-size: cover;
}
#title1,#title2,#title3,#title4 {
  margin: 0;
  height: 100%;
	width: 100%;
  font-family: 'Mukta', sans-serif;
  position: absolute;
}
#title1{
  left: 5%;
  top: 5%;
  font-size: 4em;
}
#title2{
  left: 25%;
  top: 20%;
  font-size: 6em;
}
#title3{
  left: 45%;
  top: 40%;
  font-size: 9em;
  letter-spacing: 25px;
}
#title4{
  left: 72%;
  top: 60%;
  font-size: 6em;
}

/* image animation */
#mouth{
  width: 3.5%;
  left: 45.5%;
  top: 50%;
  position: absolute;
  animation-name: animation;
	animation-iteration-count:infinite;
	animation-duration: 1s;
  /* transition: transform .2s; */
}
#mouth:hover{
  /* transform: scale(1.4);
  transition: all 0.2s ease-in; */
  cursor: pointer;
}

/* popup window */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10% auto;
  padding: 150px;
  background: white;
  opacity: 0.7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
  font-size: 2em;
  font-family:'Mukta', sans-serif;
}

.poptitle {
  margin-top: 0;
  color: #333;
}


#btn{
  width: 3.5%;
  left: 68%;
  top: 83%;
  position: absolute;
}



/* close popup window */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: lightgrey;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

@keyframes animation {
  0%{transform:  rotateZ(-10deg);}
  50%{transform:  rotateZ(10deg);}
  100%{transform: rotateZ(-10deg);}

}
